@import "../../styles/_vars.scss";

.video {
  display: flex;
  justify-content: center;
  max-width: 300px;
  max-height: 169px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
  }
  
  img {
      width: 100%;
  }   
}

